.msgWrapper > .myMessage + .myMessage .MuiChip-filled {
  border-top-right-radius: 16px;
}

.msgWrapper > .notMyMessage + .notMyMessage .MuiChip-filled {
  border-top-left-radius: 16px;
}
::-webkit-scrollbar {
  width: 3px;
  position: absolute;
  right: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000050;
  border-radius: 41px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #454053;
}

.langBox{

  /* background: #000; */
  display:flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 10px;
  padding: 20px;
  width: 800px;


}

.buttgroup{
  /* background: #000; */
  float: left;
  display: flex;
  margin-left: 20px;
}

